.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Bootstrap Css*/
.main{
  max-width: 80%;
  width:100%;
  box-shadow:0px 0px 10px 3px #f2f2f2;
  margin: 30px auto;
  padding: 15px 20px;
}
.main_title_div{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.main_title_div:after{
  height:4px;
  width:70px;
  background:#ff9c8c;
  display: block;
  position: absolute;
  bottom: 0; left: 0;
  content: "";
}